$color-logo : #D04F4F;
$color-background : #E7E7E7;
$color-imgDefault : #C7BEBE;
$color-filter-primary : #3282F7;
$color-filter-secondary : #68D9A4;
$color-filter-tertiary : #ED6454;
$color-black : #000;
$color-white : #fff;

$font-size-xl : 36px;
$font-size-l : 18px;
$font-size-m : 14px;
$font-size-s : 12px;

$breakpoints : (
  mobile : 768px,
  tablet : 992px
)